@font-face {
    font-family: "Medieval_Normal_Script";
    src: local("Medieval_Normal_Script"),
     url("../fonts/EnchantedLand.ttf") format("truetype");
    font-weight: bold;
}

    


body{
    margin : 0;
    height: 100vh;

    background-color: #d9d1b3;
}

/*BUTTONS*/
.nav_button{

    border-radius:10px;
    background-color: #eab847;
    padding: 2%;
}

.nav_button a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    font-family: "Medieval_Normal_Script";
    font-size: 80%;
}

.nav_button:hover{
    background-color: #d9d1b3;
}

.div_info .nav_button:hover{
    background-color: #334d6d;
}

/*HEADER*/

header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #334d6d;
    padding: 1%;

    box-shadow: 0px 10px 40px rgba(0,0,0,0.70);

}

header img{
    width: 30%;   
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    background-color: #eab847;
    margin-top: 9%;

    position:absolute;
    left: 0;
    right: 0;
}

btn {
    float: left;
}
  
btn a {
    display: block;
    color: #24221d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Medieval_Normal_Script";
    font-size: 1.6vw;
}

btn a:hover {
    background-color: #89001c;
    color: antiquewhite;
}

btnr {
    float: right;
}
  
btnr a {
    display: block;
    color: #24221d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Medieval_Normal_Script";
    font-size: 1.6vw;
}

btnr a:hover {
    background-color: #89001c;
    color: antiquewhite;
}


.active {
    background-color: #89001c;
    color: antiquewhite;
  }

header .nav_button {
    position: absolute;
    right: 0;
    margin-right: 2%;
    padding: 1%;


}

/*Main*/
mainreglas{
    margin-top: 2.5%;
    background-color: #d9d1b3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 38vw;
}

/*CAROUSEL*/
.div_container_carousel{
    width: 100%;
    background-color: #d9d1b3;
}


footer{
    background-color: #334d6d;
    opacity: 100%;
    text-align: center;
    color: white;
    font-size: medium;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
}


@media only screen and (max-width: 800px) {

    mainreglas{
        margin-top: 5%;
    }

}